<body>

<div id="bg">

<p id="title">Glassic</p>

<div id="pwd-login">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    <input type="text" class="form-control" placeholder="username">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Password</span>
    </div>
    <input type="password" class="form-control" placeholder="••••••••">
  </div>

  <button type="submit" class="btn">Login</button>
</div>

</div>

</body>