<div id="bg">

<p id="title">Glassic</p>

<form [formGroup]="form">
  <p
    *ngIf="lastLoginSuccessfull===false"
    id="login-fail"
  >Login failed. Try again</p>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      placeholder="username" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Password</span>
    </div>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="••••••••" />
  </div>

  <button
    type="submit"
    class="btn {{ shouldDisableButton() ? 'button-disabled' : '' }}"
    (click)="handleClick()"
  >Login</button>
</form>

</div>